<div class="app-container">
  <header>
    <nav>
      <ul>
        <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
        <li><a routerLink="/fixed" routerLinkActive="active">Fixed Layout</a></li>
        <li><a routerLink="/fluid" routerLinkActive="active">Fluid Layout</a></li>
        <li><a routerLink="/flexible" routerLinkActive="active">Flexible Layout</a></li>
        <li><a routerLink="/responsive" routerLinkActive="active">Responsive Layout</a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
