<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ " /assets/img/eCommerce.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Ultimate eCommerce java </h3>
    <ul>
      <li>Back-end: Java 17, JSP & Servlets, MySQL </li>
      <li>Froent-end: Bootstrap, jQuery</li>
    </ul>
    <p>a comprehensive eCommerce platform developed as a Bachelor's project.It features an array of functionalities including variations, recursive table for category
      storage, user profile management, streamlined checkout process, and a responsive UI. Moreover, it's designed to be
      easily installable as a web app for local deployment.</p>
    <a class="project-link" href="https://github.com/smit-joshi814/ultimate-eCommerce-java" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ " /assets/img/wedding-planner.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Wedding Planner </h3>
    <ul>
      <li>Java, Spring Boot, Spring Data JPA, MySQL Database</li>
      <li>String Security & JWT Barrier Authentication</li>
    </ul>
    <p>This project serves as an intermediator between Users and Vendors in the wedding services industry. Vendors can list their services, and users can browse and purchase these services through the mobile app or the Admin panel.</p>
    <a class="project-link" href="https://github.com/smit-joshi814/wedding-planner" target="_blank">Check it out</a>
  </div>
</div>